---
http_interactions:
- request:
    method: get
    uri: https://api.exchangeratesapi.io/2007-09-16?base=USD&specific_date=2007-09-16&symbols=EUR,SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"rates":{"EUR":0.7215007215,"SEK":6.6908369408},"base":"USD","date":"2007-09-14"}'
  recorded_at: Mon, 08 Feb 2021 01:16:34 GMT
- request:
    method: get
    uri: https://api.exchangeratesapi.io/2007-09-16?base=USD&specific_date=2007-09-16&symbols=EUR,SEK,EUR,SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"rates":{"EUR":0.7215007215,"SEK":6.6908369408},"base":"USD","date":"2007-09-14"}'
  recorded_at: Mon, 08 Feb 2021 01:16:34 GMT
recorded_with: VCR 6.0.0
