---
http_interactions:
- request:
    method: get
    uri: https://api.exchangeratesapi.io/history?base=USD&end_at=2014-09-02&start_at=2014-09-01&symbols=GBP,USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"rates":{"2014-09-01":{"USD":1.0,"GBP":0.6017284703},"2014-09-02":{"USD":1.0,"GBP":0.6048799085}},"start_at":"2014-09-01","base":"USD","end_at":"2014-09-02"}'
  recorded_at: Fri, 10 Jan 2020 21:27:18 GMT
recorded_with: VCR 5.0.0
