---
http_interactions:
- request:
    method: get
    uri: http://api.exchangeratesapi.io/fluctuation?access_key=cb3069b900a71e5d128f6d3777dc77b4&base=AUD&end_date=2014-09-05&start_date=2014-09-01&symbols=GBP,SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 40137c68-cc26-4e2a-8e47-3d16fbb052d9
      X-Request-Time:
      - '0.010'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"fluctuation":true,"start_date":"2014-09-01","end_date":"2014-09-05","base":"AUD","rates":{"GBP":{"start_rate":0.56191,"end_rate":0.574359,"change":0.0124,"change_pct":2.2155},"SEK":{"start_rate":6.533646,"end_rate":6.641687,"change":0.108,"change_pct":1.6536}}}'
  recorded_at: Sat, 31 Jul 2021 14:21:12 GMT
recorded_with: VCR 6.0.0
