---
http_interactions:
- request:
    method: get
    uri: http://api.exchangeratesapi.io/latest?access_key=cb3069b900a71e5d128f6d3777dc77b4&symbols=DJF,NIO,DZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 916d8a34-0d75-4f2d-94f1-33ce08731fce
      X-Request-Time:
      - '0.013'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"timestamp":1626638644,"base":"EUR","date":"2021-07-18","rates":{"DJF":210.19187,"NIO":41.236061,"DZD":159.264033}}'
  recorded_at: Sun, 18 Jul 2021 20:04:48 GMT
recorded_with: VCR 6.0.0
