---
http_interactions:
- request:
    method: get
    uri: http://api.exchangeratesapi.io/convert?access_key=cb3069b900a71e5d128f6d3777dc77b4&amount=100&from=USD&to=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 6a310d48-9acc-46f7-af2d-7c160779fc90
      X-Request-Time:
      - '0.010'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"query":{"from":"USD","to":"EUR","amount":100},"info":{"timestamp":1627503004,"rate":0.8443},"date":"2021-07-28","result":84.43}'
  recorded_at: Wed, 28 Jul 2021 20:10:28 GMT
recorded_with: VCR 6.0.0
