---
http_interactions:
- request:
    method: get
    uri: http://api.exchangeratesapi.io/convert?access_key=cb3069b900a71e5d128f6d3777dc77b4&amount=100&date=2020-07-28&from=UAH&to=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 02c21e9d-716a-4c11-aab2-c40ae0c99a87
      X-Request-Time:
      - '0.014'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"query":{"from":"UAH","to":"USD","amount":100},"info":{"timestamp":1595980799,"rate":0.036101},"date":"2020-07-28","historical":true,"result":3.6101}'
  recorded_at: Wed, 28 Jul 2021 20:24:30 GMT
recorded_with: VCR 6.0.0
