---
http_interactions:
- request:
    method: get
    uri: http://api.exchangeratesapi.io/timeseries?access_key=cb3069b900a71e5d128f6d3777dc77b4&end_date=2013-12-26&start_date=2013-12-24&symbols=USD,SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - e47e50b5-abec-4b00-ba61-c782f14753c9
      X-Request-Time:
      - '0.019'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"timeseries":true,"start_date":"2013-12-24","end_date":"2013-12-26","base":"EUR","rates":{"2013-12-24":{"USD":1.367761,"SEK":8.982344},"2013-12-25":{"USD":1.368223,"SEK":8.990684},"2013-12-26":{"USD":1.369083,"SEK":8.974955}}}'
  recorded_at: Sun, 25 Jul 2021 17:21:18 GMT
recorded_with: VCR 6.0.0
