---
http_interactions:
- request:
    method: get
    uri: http://api.exchangeratesapi.io/latest?access_key=cb3069b900a71e5d128f6d3777dc77b4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 39260172-5328-4885-8b24-ef66c9b32911
      X-Request-Time:
      - '0.007'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"timestamp":1626638644,"base":"EUR","date":"2021-07-18","rates":{"AED":4.337807,"AFN":93.55644,"ALL":122.587748,"AMD":587.808952,"ANG":2.119325,"AOA":758.851626,"ARS":113.5204,"AUD":1.595515,"AWG":2.1258,"AZN":2.011086,"BAM":1.956592,"BBD":2.383929,"BDT":100.1284,"BGN":1.957077,"BHD":0.445173,"BIF":2339.031054,"BMD":1.181,"BND":1.599523,"BOB":8.152675,"BRL":6.041653,"BSD":1.18066,"BTC":3.7295874e-5,"BTN":88.012281,"BWP":12.946143,"BYN":2.990965,"BYR":23147.6,"BZD":2.379927,"CAD":1.489188,"CDF":2362.000055,"CHF":1.085775,"CLF":0.032434,"CLP":894.965263,"CNY":7.651934,"COP":4505.554916,"CRC":731.65498,"CUC":1.181,"CUP":31.2965,"CVE":110.307965,"CZK":25.528674,"DJF":210.19187,"DKK":7.438511,"DOP":67.323222,"DZD":159.264033,"EGP":18.541,"ERN":17.720019,"ETB":52.253453,"EUR":1,"FJD":2.45436,"FKP":0.853581,"GBP":0.856951,"GEL":3.702468,"GGP":0.853581,"GHS":7.031039,"GIP":0.853581,"GMD":60.455811,"GNF":11580.210497,"GTQ":9.150364,"GYD":247.016213,"HKD":9.173854,"HNL":28.083939,"HRK":7.503722,"HTG":110.394999,"HUF":359.502268,"IDR":17115.22915,"ILS":3.884639,"IMP":0.853581,"INR":88.114999,"IQD":1722.630965,"IRR":49726.004595,"ISK":146.148382,"JEP":0.853581,"JMD":182.144946,"JOD":0.836974,"JPY":129.949001,"KES":127.750659,"KGS":100.126393,"KHR":4807.772629,"KMF":491.765555,"KPW":1062.900007,"KRW":1349.306244,"KWD":0.355209,"KYD":0.983883,"KZT":504.146365,"LAK":11236.576651,"LBP":1785.195334,"LKR":234.957316,"LRD":202.60058,"LSL":17.077509,"LTL":3.487186,"LVL":0.714375,"LYD":5.327075,"MAD":10.571818,"MDL":21.234671,"MGA":4611.776289,"MKD":61.649012,"MMK":1943.415661,"MNT":3363.623306,"MOP":9.44768,"MRO":421.616797,"MUR":50.789783,"MVR":18.194591,"MWK":955.810289,"MXN":23.497743,"MYR":4.971423,"MZN":75.110501,"NAD":17.077363,"NGN":485.979971,"NIO":41.236061,"NOK":10.455746,"NPR":140.819849,"NZD":1.686987,"OMR":0.454737,"PAB":1.18066,"PEN":4.661716,"PGK":4.145615,"PHP":59.478167,"PKR":188.320051,"PLN":4.581536,"PYG":8072.144104,"QAR":4.299999,"RON":4.928644,"RSD":117.605808,"RUB":87.455117,"RWF":1188.763024,"SAR":4.429872,"SBD":9.485999,"SCR":17.439825,"SDG":526.725425,"SEK":10.249527,"SGD":1.602086,"SHP":0.853581,"SLL":12105.25021,"SOS":690.884738,"SRD":25.014741,"STD":24328.392182,"SVC":10.331024,"SYP":1484.948944,"SZL":16.954704,"THB":38.66299,"TJS":13.465745,"TMT":4.1335,"TND":3.294396,"TOP":2.665631,"TRY":10.070374,"TTD":8.016622,"TWD":33.053714,"TZS":2738.016459,"UAH":32.14282,"UGX":4197.334864,"USD":1.181,"UYU":51.779168,"UZS":12545.976663,"VEF":252533492582.57718,"VND":27170.582954,"VUV":130.050186,"WST":3.013506,"XAF":656.212595,"XAG":0.045995,"XAU":0.000652,"XCD":3.191712,"XDR":0.828823,"XOF":656.212595,"XPF":119.664812,"YER":295.607635,"ZAR":17.035677,"ZMK":10630.415362,"ZMW":26.735814,"ZWL":380.282282}}'
  recorded_at: Sun, 18 Jul 2021 20:04:48 GMT
recorded_with: VCR 6.0.0
