---
http_interactions:
- request:
    method: get
    uri: http://api.exchangeratesapi.io/2013-12-24?access_key=cb3069b900a71e5d128f6d3777dc77b4&base=GBP&specific_date=2013-12-24&symbols=USD,CAD,EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - c247254a-d13e-4667-a5d6-fd3c90eb31b2
      X-Request-Time:
      - '0.007'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"timestamp":1387929599,"historical":true,"base":"GBP","date":"2013-12-24","rates":{"USD":1.636492,"CAD":1.739516,"EUR":1.196476}}'
  recorded_at: Sun, 18 Jul 2021 20:04:49 GMT
recorded_with: VCR 6.0.0
